<h2>Visualização de Ficha:</h2>

<hr class="startCard">
{{#each view}}
    <div class="card" id="cardHome">
        <div class="cardbody divCard">
            <div class="row d-flex justify-content-around" style="text-align: center;">
                <div class="row" style="margin-bottom: 30px;">
                    <div class="d-flex" style="justify-content:space-around ;">
                        <h1>Data: {{data}}</h1>
                        <button onclick=window.print() class="button" style="width: 140px;"><i class="fa-solid fa-print"></i> Imprimir</button></div>
                    </div>
                    <hr>
                    <div class="divHeader">Cliente: {{client}}</div>
                    <div class="d-flex" style="justify-content:space-around ;">
                        <div class="divHeader">OS:{{os}}</div>
                        <div class="divHeader">Proposta:{{proposal}}</div>
                    </div>
                </div>
            <div class="row d-flex justify-content-around">
                <div class="row col">
                    <div class="divColView row" >
                        <div style="height: 50px;">
                            <label class="labelHome" for="engineBrand">Marca:</label>
                            <div class="divHome">{{engineBrand}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="boxNumber">Nº caixa:</label>
                            <div class="divHome">{{boxNumber}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="engineStatus">Estado motor:</label>
                            <div class="divHome">{{engineStatus}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="mountingSide">Lado montagem:</label>
                            <div class="divHome">{{mountingSide}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="voltage">Tensão:</label>
                            <div class="divHome">{{voltage}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="burnReason">Motivo da Queima:</label>
                            <div class="divHome">{{burnReason}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="grooves">Ranhuras:</label>
                            <div class="divHome">{{grooves}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="leadingTip">Ponta Dianteira:</label>
                            <div class="divHome">{{leadingTip}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="backCover">Tampa Traseira:</label>
                            <div class="divHome">{{backCover}}</div>
                        </div>
                        <hr>  
                        <div style="height: 50px;">
                            <label class="labelHome" for="frontRetainer">Retentor Dianteiro:</label>
                            <div class="divHome">{{frontRetainer}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="replaceFrontBearing">Troca Rol.Dianteiro:</label>
                            <div class="divHome">{{replaceFrontBearing}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="aluminumFan ">Ventilador Alumínio:</label>
                            <div class="divHome">{{aluminumFan }}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="brakeElectromagnet">Eletroímã Freio Nova:</label>
                            <div class="divHome">{{brakeElectromagnet}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="bridgeRectifier">Ponte Retificadora:</label>
                            <div class="divHome">{{bridgeRectifier}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="armor">Armadura:</label>
                            <div class="divHome">{{armor}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="brakePad">Pastilha de Freio:</label>
                            <div class="divHome">{{brakePad}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="centrifugal">Centrifugo:</label>
                            <div class="divHome">{{centrifugal}}</div>
                        </div>
                        <hr>

                        <div style="height: 50px;">
                            <label class="labelHome" for="makeCover">Fazer Tampa CX Lig:</label>
                            <div class="divHome">{{makeCover}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="nameplate">Placa Identidicação:</label>
                            <div class="divHome">{{nameplate}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="adpConnectionBox ">Adaptação Caixa Lig:</label>
                            <div class="divHome">{{adpConnectionBox }}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serviceBackCover1">Serv. Tampa Traseira:</label>
                            <div class="divHome">{{serviceBackCover1}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="third2">Terceiro2:</label>
                            <div class="divHome">{{third2}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serviceLeadingTip2">Serv. Ponta Dianteira:</label>
                            <div class="divHome">{{serviceLeadingTip2}}</div>
                        </div>
                        <hr>

                    </div>
                </div>
                <div class="row col">
                    <div class="divColView row" >
                        <div style="height: 50px;">
                            <label class="labelHome" for="rotation">Rotação:</label>
                            <div class="divHome">{{rotation}}</div>
                        </div>
                        <hr>
                            <div style="height: 50px;">
                            <label class="labelHome" for="model">Modelo:</label>
                            <div class="divHome">{{model}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="withFeet">Com pés:</label>
                            <div class="divHome">{{withFeet}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="pulley">Polia:</label>
                            <div class="divHome">{{pulley}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="turnedOn">Ligado em:</label>
                            <div class="divHome">{{turnedOn}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="packageDiameter">Diâmetro Pacote:</label>
                            <div class="divHome">{{packageDiameter}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="frontBearing">Rolamento Dianteiro:</label>
                            <div class="divHome">{{frontBearing}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="adpFan">Adaptação Ventilador:</label>
                            <div class="divHome">{{adpFan}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="frontRing">Anel fix.Dianteiro:</label>
                            <div class="divHome">{{frontRing}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="rearRetainer">Retentor Traseiro:</label>
                            <div class="divHome">{{rearRetainer}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="replaceRearBearing">Troca Rol.Traseiro:</label>
                            <div class="divHome">{{replaceRearBearing}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="keyElectronics">Chave Part.Eletrônica:</label>
                            <div class="divHome">{{keyElectronics}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="deflector">Defletora:</label>
                            <div class="divHome">{{deflector}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="hollowCarcass">Carcaça Oca:</label>
                            <div class="divHome">{{hollowCarcass}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="nightclubCanvas">Disco Lona:</label>
                            <div class="divHome">{{nightclubCanvas}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="pasta">Massa:</label>
                            <div class="divHome">{{pasta}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="platinum">Platinado:</label>
                            <div class="divHome">{{platinum}}</div>
                        </div>
                        <hr>

                        <div style="height: 50px;">
                            <label class="labelHome" for="strap">Cinta:</label>
                            <div class="divHome">{{strap}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="fitsKey">Encaixa Chaveta:</label>
                            <div class="divHome">{{fitsKey}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="third1">Terceiro1:</label>
                            <div class="divHome">{{third1}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serviceLeadingTip1">Serv. Ponta Dianteira:</label>
                            <div class="divHome">{{serviceLeadingTip1}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serviceFrontCover2">Serv. Tampa Dianteira:</label>
                            <div class="divHome">{{serviceFrontCover2}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serviceAluminumSolder2">Serv. Solda Alumínio:</label>
                            <div class="divHome">{{serviceAluminumSolder2}}</div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row col">
                    <div class="divColView row">
                        <div style="height: 50px;">
                            <label class="labelHome" for="power">Potência:</label>
                            <div class="divHome">{{power}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="type">Tipo:</label>
                            <div class="divHome">{{type}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="connectionBox">Caixa Ligação:</label>
                            <div class="divHome">{{connectionBox}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="flange">Flange:</label>
                            <div class="divHome">{{flange}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="concertType">Tipo de Conserto:</label>
                            <div class="divHome">{{concertType}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="packageLength">Comprimento Pacote:</label>
                            <div class="divHome">{{packageLength}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="rearBearing">Rolamento Traseiro:</label>
                            <div class="divHome">{{rearBearing}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="frontCover">Tampa Dianteira:</label>
                            <div class="divHome">{{frontCover}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="backRing">Anel fix.Traseiro:</label>
                            <div class="divHome">{{backRing}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="capacitor">Capacitor:</label>
                            <div class="divHome">{{capacitor}}</div>
                        </div>
                        <hr>
                        <div style="height:50px;">
                            <label class="labelHome" for="polypropyleneFan ">Ventilador Poliprop:</label>
                            <div class="divHome">{{polypropyleneFan }}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="terminalBoard">Placa de Borne:</label>
                            <div class="divHome">{{terminalBoard}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="connectionBoxCheck ">Caixa de Ligação:</label>
                            <div class="divHome">{{connectionBoxCheck }}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="rewindElectromagnet">Eletroímã Freio Rebob:</label>
                            <div class="divHome">{{rewindElectromagnet}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="disc">Disco Pastilha:</label>
                            <div class="divHome">{{disc}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="spring">Mola:</label>
                            <div class="divHome">{{spring}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="capacitorCover">Capa do Capacitor:</label>
                            <div class="divHome">{{capacitorCover}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="eyelet">Olhal:</label>
                            <div class="divHome">{{eyelet}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="adpDeflector">Adaptação Defletora:</label>
                            <div class="divHome">{{adpDeflector}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serviceFrontCover1">Serv. Tampa Dianteira:</label>
                            <div class="divHome">{{serviceFrontCover1}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serviceAluminumSolder1">Serv. Solda Alumínio:</label>
                            <div class="divHome">{{serviceAluminumSolder1}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serviceBackCover2">Serv. Tampa Traseira:</label>
                            <div class="divHome">{{serviceBackCover2}}</div>
                        </div>
                        <hr>
                        <div style="height: 50px;">
                            <label class="labelHome" for="serialNumber">Número de Serie:</label>
                            <div class="divHome">{{serialNumber}}</div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row d-flex justify-content-around" style="text-align: center;">
                    <div class="row d-flex justify-content-around">
                            <label class="labelHome" for="note">Observações:</label>
                            <div class="divHome">{{note}}</div>
                            <hr>
                    </div>
                </div>
                <div class="row d-flex justify-content-around" style="text-align: center;">
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="d-flex" style="justify-content:space-around ;">
                            <div class="divHome"><b>Colaborador:</b> {{collaborated}}</div>
                            <div class="divHome"><b>Data Desmontado:</b> {{dateCollaborated}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{{else}}

{{/each}}